

.form {
    display: flex;
    gap: 1rem;
}

.field {
    display: flex;
    align-items: center;
    gap: 1rem
}

.input {
    padding: .5rem 1rem;
    border: solid 1px #333;
    border-radius: .5rem;
}